body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.menu-wrapper {
  padding: 32px 32px 0 32px;
}

.videos-grid-wrapper,
.videos-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 32px;
}

.video-grid-card,
.video-list-card {
  flex-direction: column;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}

.video-grid-card img,
.video-list-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.video-grid-card-title,
.video-list-card-title {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-grid-card:hover,
.video-list-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
}

.video-grid-card-info {
  position: relative;
  min-width: 0;
}

.video-list-buttons-wrapper {
  position: absolute;
  display: none;
  bottom: 16px;
  right: 16px;
}

.video-grid-card:hover .video-list-buttons-wrapper,
.video-list-card:hover .video-list-buttons-wrapper {
  display: flex;
}

.responsive-grid {
  display: flex;
}

.ant-modal .ant-modal-content {
  padding: 0;
  border-radius: 16px;
}

.video-modal {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

/* For screens ≥ 576px (sm) */
@media (min-width: 576px) {
  body,
  .ant-row {
    font-size: 16px;
  }

  .menu-input {
    width: 400px;
  }

  .videos-grid-wrapper,
  .videos-list-wrapper {
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .video-list-card {
    flex-direction: row;
  }

  .video-list-card img {
    height: 100px;
    width: auto;
  }

  .video-grid-card {
    flex: 0 0 calc((100% - (2 * 16px)) / 2);
  }
}

/* For screens ≥ 992px (lg) */
@media (min-width: 992px) {
  .video-grid-card {
    flex: 0 0 calc((100% - (3 * 16px)) / 3);
  }

  .video-list-card img {
    height: 150px;
    width: auto;
  }
}

/* For screens ≥ 1600px (xxl) */
@media (min-width: 1600px) {
  .videos-grid-wrapper {
    width: 1500px;
  }

  .videos-list-wrapper {
    justify-items: center;
    width: 1000px;
  }

  .video-grid-card {
    flex: 0 0 calc((100% - (4 * 16px)) / 4);
  }
}
